/* Header */
.navbar {
    background-color: #F0E3CA;
}

.book-button {
    display: inline-block;
    background-color: #FF8303;
    color: black;
    border-radius: 5px;
}

/* Home Section */
.home-background {
    background-image: url(./images/cover.jpg);
    height: 100vh;
}

.home-content {
    color: white;
}

/* Testimonial Section */
.testimonials {
    text-align: center;
}

/* About Section */
.about-main{
    display: flex;
    }
    
.about-content{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Contact Section */
.contact-heading {
    text-align: center;
}

.address-div {
    font-size: 20px;
}

/* Footer Section */
footer {
    background-color: #F0E3CA;
    text-align: center;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
}