

.navbar {
    background-color: #F0E3CA;
}

.book-button {
    display: inline-block;
    background-color: #FF8303;
    color: black;
    border-radius: 5px;
}

.home-background {
    background-image: url(./images/cover-img2.jpg);
    height: 100vh;
}

.home-content {
    color: white;
}

.testimonials {
    text-align: center;
}

.contact-heading {
    text-align: center;
}

.address-div {
    font-size: 20px;
}

footer {
    background-color: #F0E3CA;
    text-align: center;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
}
.about-main{
display: flex;
}
.about{
    width: 50%;
}
.about-content{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

